.header{
  box-shadow: 0px 2px 10px 2px black;
  height: 60px;
  display: flex;
  background-image: linear-gradient(90deg, rgb(91, 119, 243), rgb(19, 191, 230));
  width: 100%
}

#logo-text{
  margin: auto 45px;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  // text-shadow: 1px 1px 2px black;
}

div.sub-pages{
  display: flex;
  margin: auto 15%;
  width: 50%;

  h4{
    margin: auto 40px;
    padding: 10px 30px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    border-radius:4px;
    background-color: rgba($color: #000000, $alpha: 0.1);
    transition: 0.2s;
    cursor: pointer;
  }

  h4:hover{
    background-color: rgba($color: #000000, $alpha: 0.3);
    color:#ffffff
  }

  #home-btn, #solutions-btn{
    margin-right: -35px;
  }


}

.segment-label{
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

ion-segment{
  --background: rgba(var(--ion-color-light-rgb), 0.25);
  border-radius: 10px;
}

