<ion-content [fullscreen]="true">
  <app-header></app-header>
  <div class="main-header">
    <div class="shape-container">
      <div class="parallelogram"></div>
    </div>
    <div class="shape-container2">
      <div class="parallelogram2"></div>
    </div>
  </div>

  <div class="body">
    <div class="slides" #slides>
      <ion-button fill="clear" shape="round" (click)="moveSliderBack()"  [hidden]="mobile">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
      <ion-slides pager="true" [options]="slideOpts" class="slider">
        <ion-slide>
          <ion-card [ngClass]="{'card' : !mobile, 'mobile-card': mobile}" id="carouser">
            <img alt="placeholder-img" src="../../assets/icon/consultancy.jpg">
            <ion-card-header>
              <ion-card-subtitle>Lorem Ipsum</ion-card-subtitle>
              <ion-card-title>Management And Consultancy</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Here at swipewire, we aim to efficiently establish companies looking to
              ground themselves in africa.
              "Lorem ipsum dolor sit amet, consectetur adipiscing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
               ea commodo consequat. Duis aute irure dolor in reprehenderit in
               voluptate velit esse cillum dolore eu fugiat nulla pariatur.
               Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
              officia deserunt mollit anim id est laborum."
            </ion-card-content>
          </ion-card>
        </ion-slide>
        <ion-slide>
          <ion-card [ngClass]="{'card' : !mobile, 'mobile-card': mobile}" id="carouser">
            <img alt="placeholder-img" src="../../assets/icon/consultancy.jpg">
            <ion-card-header>
              <ion-card-subtitle>Lorem Ipsum</ion-card-subtitle>
              <ion-card-title>Management And Consultancy</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Here at swipewire, we aim to efficiently establish companies looking to
              ground themselves in africa.
              "Lorem ipsum dolor sit amet, consectetur adipiscing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
               ea commodo consequat. Duis aute irure dolor in reprehenderit in
               voluptate velit esse cillum dolore eu fugiat nulla pariatur.
               Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
              officia deserunt mollit anim id est laborum."
            </ion-card-content>
          </ion-card>
        </ion-slide>
        <ion-slide>
          <ion-card [ngClass]="{'card' : !mobile, 'mobile-card': mobile}" id="carouser">
            <img alt="placeholder-img" src="../../assets/icon/consultancy.jpg">
            <ion-card-header>
              <ion-card-subtitle>Lorem Ipsum</ion-card-subtitle>
              <ion-card-title>Management And Consultancy</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Here at swipewire, we aim to efficiently establish companies looking to
              ground themselves in africa.
              "Lorem ipsum dolor sit amet, consectetur adipiscing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
               ea commodo consequat. Duis aute irure dolor in reprehenderit in
               voluptate velit esse cillum dolore eu fugiat nulla pariatur.
               Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
              officia deserunt mollit anim id est laborum."
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>
      <ion-button fill="clear" shape="round" (click)="moveSliderForward(slides)" [hidden]="mobile">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-button>
    </div>
  </div>

</ion-content>


<ion-footer [translucent]="true" mode="ios" class="footer">
  <ion-toolbar color="dark">
    <h3>Lorem Ipsum</h3>
  </ion-toolbar>
</ion-footer>
